<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756580236920-ao8qiiaa4u4l14d23lf3g4deku85aj5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756580236920-ao8qiiaa4u4l14d23lf3g4deku85aj5s</string>
	<key>API_KEY</key>
	<string>AIzaSyB1G9JO3PR0G8QORFrFpxW1nhFE3rztNvU</string>
	<key>GCM_SENDER_ID</key>
	<string>756580236920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waleedraza.mmamania</string>
	<key>PROJECT_ID</key>
	<string>mmamania-5a974</string>
	<key>STORAGE_BUCKET</key>
	<string>mmamania-5a974.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756580236920:ios:79a09d58193969a4d0378d</string>
</dict>
</plist>